.page-header {
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    position: fixed;
    top: 0;
    z-index: 1000000;
}

.page-header .container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: initial;
    margin: 0;
}

.page-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 40px;
    position: relative;
    max-height: 100%;
    position: fixed;
    right: 20px;
    top: 40px
}

@media all and (max-width: 800px) {
    .page-nav-menu {
        top: 60px
    }
}

.header-logo {
    height: 90%;
}

.page-header-logo {
    color: #3D1A15;
    font-size: 55px;
    text-decoration: none;
    list-style: none;
    position: fixed;
    left: 40px;
    top: 25px
}

@media all and (max-width: 910px) {
    .page-header-logo {
        font-size: 35px;
        left: 40px;
        top: 40px
    }
}

@media all and (max-width: 800px) {
    .page-header-logo {
        font-size: 30px;
        top: 30px
    }
}

@media all and (max-width: 580px) {
    .page-header-logo {
        font-size: 55px;
        left: 40px;
        top: 25px
    }
}

.page-nav-list-el-link {
    padding: 0 15px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: #3D1A15;
    font-size: 25px;
}

@media all and (max-width: 1080px) {
    .page-nav-list-el-link {
        font-size: 20px;
    }
}

.hamb {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    top: 45px
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

@media all and (max-width: 580px) {
    .page-header-manu-list {
        display: none;
    }
}