// ------------ stones -------- //
.banner-stones {
    min-height: 800px;
    overflow: hidden;
    display: block;
    padding-top: 100px;
}

@media all and (max-width: 1080px) {
    .banner-stones {
        height: 1065px;
    }
}

.banner {
    height: 500px;
    display: flex;
    outline: none
}

@media all and (max-width: 1080px) {
    .banner {
        height: 800px;
    }
}

.banner-prev,
.banner-next {
    width: 60px;
    background: none;
    border: 0 solid white;
    font-size: 70px;
    color: #3D1A15;
    outline: none;
    margin-top: 200px;
}

.banner-title {
    text-align: center;
    font-size: 55px;
    height: 100px;
    padding: 60px;
    overflow: visible;
}

.banner-next {
    order: 1;
}

.banner-slides {
    flex-grow: 1;
    position: relative;
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s all;
    display: flex;
    padding-top: 200px;
}

@media all and (max-width: 1080px) {
    .banner-slide {
        display: inline;
    }
}

.banner-slide-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    img {
        width: 100%;
        border-radius: 6px;
        margin-top: 50px;
    }
}

.zoom2 {
    transition: transform .7s;
    margin: 0 auto;
}

.zoom2:hover {
    transform: scale(2);
}

.banner-slide-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    line-height: 25px;
}

.banner-slide-title {
    text-align: center;
    padding: 0;
    font-size: 38px;
}

.banner-slide-title strong {}

.banner-slide--active {
    opacity: 1;
    z-index: 1;
}

.banner-slide-main {
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    color: #3D1A15
}

@media all and (max-width: 1080px) {
    .banner-slide-main {
        max-width: 50%;
        line-height: 25px;
        max-width: 80%;
    }
}

.banner-slide-btn {
    font-weight: bold;
}